<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix="ServiceProvider.php">src/</directory>
                <directory suffix="Exception.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <const name="PHPUNIT_RUNNING" value="true" />
        <env name="APP_ENV" value="testing"/>
        <env name="OPENCC_BINARY" value="/usr/bin/opencc"/>
        <env name="OPENCC_CONFIG" value=""/>
    </php>
</phpunit>